@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #222;
  font-size: 100%;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1rem;
}

article header {
  border-bottom: 1px solid #999;
}

article header p {
  font-style: italic;
  margin-top: 0;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.quote {
  color: #999;
}

body {
  margin: 0;
  padding-right: .2em;
  padding-left: 1em;
  line-height: 1.3;
}

article p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

article ol {
  padding-left: 1rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }
}
